<div class="card-singer" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('#');">
  <h1>My Bookings</h1>
</div>

<div class="container">
  <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="stage-bk-det">
          <div class="card-back">
              <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://mosaic01.ztat.net/vgs/media/pdp-gallery/NI/11/1S/03/CJ/11/NI111S03C-J11@12.jpg');">
                  <div>
                    <h4>Jean Bleu</h4>
                    <p></p>
                  </div>
              </div>

            <div>
              <h3>Name - bla bla bla</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequuntur nostrum sequi autem dicta, quasi eum cum, nam inventore doloremque, excepturi, non! Cupiditate nihil, ut saepe accusamus dolore sit blanditiis.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

