  .header-basket {
  height: 150px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), image-url('bannerpic.jpeg');
  h1 {
    color: $orange;
  }
}

.box-basket {
  background-color: white;
  width: 97%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin: auto;
  min-height: 75vh;
}

.delete {
  position: absolute;
  top : 2px;
  right : 10px;
  font-size: 25px;
  color: $orange;
  text-align: right;
}

.delete:hover {
  color: $orange;
  opacity: 0.6;
  text-align: right;
}

.crux {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30px;
  font-size: 50px;
  color: $orange;
  text-align: right;
}

.crux:hover {
  color: $orange;
  transition: all ease 0.5s;
  font-size: 70px;
  opacity: 0.6;
  text-align: right;
}

.price {
  position: absolute;
  top : 10px;
  left : 10px;
  font-size: 18px;
  color: $orange;
  text-align: right;
}
