.clothes.index {
  .alignement {
    form {
      display: flex;
      padding: 5px;
      width:100%;

      .form-group {
        width: 100%;
        padding-top:10px;
      }

      .form-control {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      .input-group{
        width:100%;
      }

      .input-group-addon{
        color: #000000;
        background-color: #fff;
        background-image: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width:50px;
      }

      .radius-left{
        // border-top-left-radius: 10px;
        // border-bottom-left-radius: 10px;
      }

      .radius-right{
        // border-top-right-radius: 10px;
        // border-bottom-right-radius: 10px;
      }
    }

    .s-i{
      display: inline-block;
      border-radius: 5px;
      vertical-align: middle;
      height: 39px;
      padding: 6px 12px;
      font-size: 18px;
      line-height: 1.428571429;
      color: #000000;
      background-color: #fff;
      background-image: none;
      border: none;
      width: 90%;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .loupe{
      background-color: #fff;
      background-image: none;
      border:none;
    }

    .submit{
      background-color: #fff;
      background-image: none;
      border:none;
    }
  }

  .cadre{
    background-color:white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }

  .filter-bar{
    height:50px;
    background: #F4F4F;
    padding: 5px;
    box-shadow: none;
    border: none;
    margin: 5px 0px 15px 0px;
    display:flex;

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked + label {
      background: #FF9900;
      color: white;
    }
  }

  .btn-default {
    // border-bottom-right-radius: 10px;
    // border-top-right-radius: 10px;
    // border-bottom-left-radius: 10px;
    // border-top-left-radius: 10px;
  }

  .bouton-sub {
    margin-left: 20px;
    background: #F4F4F;
    padding: 5px;
    box-shadow: none;
    border: none;
    background-color:white;
    border-color: #ccc;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.428571429;
    border-radius: 2px;
  }

  .dollar{
    margin:0px 20px 0px 0px;
    color: #FF9900;
  }

  .croissant{
    margin-right: 20px;
  }

  .gender{
    margin-right: 20px;
  }

  .sexe{
    margin-left: 20px;
  }


  .inexpensive{
    padding: 0px 8px
  }

  .middle{
    padding: 0px 0px 0px 8px
  }


  .your-board{
    text-align: center;
    margin-bottom: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 20px;
    border-radius: 5px;
    height: 100vh;
    background-color: white;
  }

  .selection{
    padding: 0px 20px 20px;
    border-radius: 5px;
    position: sticky;
    top: 130px;
    // position: fixed;
  }

  .form-inline{
    // position: fixed;
  }

  .filter-bar{
    // position: fixed;
  }

  .filters {
    position: sticky;
    top: 0px;
    background-color: #f4f4f4;
    z-index: 1;
  }

  #title-box{
    color: #FF9900;
  }

  .card-fond{
    // background: white;
    // padding: 5px;
    // border-radius: 4px;
    // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    // border: 1px solid rgba(0, 0, 0, 0.1);
    // position:relative;
    // margin-bottom: 15px;
    // height:300px;
  }


  .card_image{
  //   margin:5px 5px;
  //   height: 220px;
  //   background-size: cover;
  //   border-radius: 4px;
  //   align-items: center;
  //   justify-content: center;
  }

  .card-category{
    // display: flex;
  }

  .card-description{
    // margin: none;
    // position: absolute;
    // bottom: 1px;
    // padding: none;

    // p{
    //   margin: none;
    //   padding: none;
    // }
  }

  .btn-group label:first-of-type {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  .btn-group label:last-of-type {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }
}

.page{
  color: $gray;
  font-size: 14px;
  text-decoration: none;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  a {
    color: $orange;
  }
  border-radius: 5px;
}
