.card-fond{
  background: white;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position:relative;
  margin-bottom: 15px;
}

.card-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.card_image {
  margin:5px 5px;
  height: 220px;
  background-size: cover;
  border-radius: 4px;
  display:flex;
  align-items: center;
  justify-content: center;

  h4{
    color:white;
    text-align: center;
  }

  p {
    color:white;
    text-align: center;
    padding: 0;
  }
}
