.wishes.index{
  .description_wish{
    margin: 5px 10px;
  }

  .tick{
    color: #FF9900;
    margin-right: 20px;
  }

  .box{
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    border-radius: 5px;
    height: 280px;

    h3 {
      padding: 5px;
      color: $orange;
    }
    h5 {
      padding: 5px;
      font-size: 16px;
      color: $gray;
    }
  }

  .plus{
    height:100px;
    width:100px;
    text-align: justify;
    vertical-align: middle;
    display: inline-block;
  }

  .fa-plus-circle{
    height:100px;
    width:100px;
    font-size: 80px;
    color: $orange;
    opacity: 0.8;

  }
}

.form-container {
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
