.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2) 50%), image-url("bannerpic.jpeg");
  background-size: cover;
  height: calc(100vh - 70px);
}

.banner-content {
  color: white;
  align-items: center;
}

.button-orange {
  color: white;
  background-color: #FF9900;
  border-color: #FF9900;
  border-radius: 5px;
  opacity: 0.9;
  display: inline-block;
  width: 200px;
}

.button-orange:hover {
  background-color: #FF9900;
  opacity: 1;
  transition: width 2s;
  display: inline-block;
}

.search-case {
  width: 600px;
  display: inline-block;
  border-radius: 5px;
  vertical-align: middle;
  height: 39px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.428571429;
  color: #000000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-content h1 {
  padding-bottom: 50px;
  text-align: center;
  text-shadow: 0.5px 0.5px 0.5px;
  font-size: 60px;
}

.strong-orange {
  color: #FF9900;
}
