<div class="col-xs-12">
  <div class="stage-bk-det-board">
    <div class="card-back-board">
      <div class="card-image-board" style="background-image: url('http://<%= basket.cloth.images_urls.first %>');">
      </div>

      <div class="card-informations-board">
        <h6><%= basket.cloth.name %> <br/> <%= basket.cloth.brand %> <br/> <%= basket.cloth.price %>$</h6>
      </div>
    </div>
  </div>
</div>
