<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xs-12 banner">
      <div class="banner-content">
        <div class="text-content">
        <h1>The <strong class="strong-orange">perfect garment </strong>
        <br>is one search away</h1>
        </div>
          <form>
            <div class="form-group search-input">
              <input type="search" class="search-case" id="search-clothe" placeholder="T-Shirt Blue Navy">
            </div>
            <div class="form-group">
              <select class="form-control">
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default button-orange">Search</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
