<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .headermailer {
  background-image: url(http://melomelo.herokuapp.com/assets/bannerpic-6519944af45d35a25644b45916cdf7e05eb10f41b1f49ab17488a87a71f62b74.jpg);
  width: 100%;
  height: 150px;
  color: white;
  margin: auto;
  font-size: 36px;
}

.box-mailer {
  background-color: white;
  width: 97%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin: auto;
  min-height: 75vh;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #FF9900;
  text-decoration: none;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #FDB631;;
  text-decoration: none;
  color: white;
}

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
